.blinking {
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

/* Tạo class custom cho Tailwind */
.clip-hexagon {
  clip-path: polygon(
    15% 0%,   /* trên trái */
    85% 0%,   /* trên phải */
    100% 50%, /* giữa phải nhọn */
    85% 100%, /* dưới phải */
    15% 100%, /* dưới trái */
    0% 50%    /* giữa trái nhọn */
  );
}

@keyframes countdown {
  0% { content: "3"; opacity: 1; transform: scale(1); }
  16.6% { content: "2"; opacity: 1; transform: scale(1); }
  33.3% { content: "1"; opacity: 1; transform: scale(1); }
  50% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 0; transform: scale(0.5); }
}

.countdown::after {
  content: "3";
  animation: countdown 4s steps(1, end) forwards;
}

